In [2]:
import numpy as np
import pandas as pd

In [3]:
yellow = pd.read_csv('yellow_cab_concise.csv')
green = pd.read_csv('green_cab_concise.csv')

In [4]:
yellow.head(10)

,VendorID,passenger_count,payment_type,Triptime,Triptime in Aprrox minutes,Trip Month
0,2,1,1,3.0,3.0,1
1,2,1,1,4.0,4.0,1
2,2,1,1,0.0,0.0,1
3,1,1,1,21.0,21.0,1
4,2,1,1,20.0,20.0,1
5,1,1,1,25.0,25.0,1
6,1,1,1,3.0,3.0,1
7,1,1,1,10.0,10.0,1
8,1,1,1,7.0,7.0,1
9,1,1,1,14.0,14.0,1

In [5]:
green.head(10)

,VendorID,passenger_count,payment_type,Triptime (in Aprrox minutes),Trip Month
0,2,6,1,17.0,1
1,2,1,2,8.0,1
2,2,1,2,19.0,1
3,2,1,1,19.0,1
4,1,2,2,7.0,1
5,2,3,1,20.0,1
6,1,1,2,17.0,1
7,2,1,2,4.0,1
8,2,1,1,45.0,1
9,2,1,2,7.0,1

In [6]:
yellow = yellow[yellow['Trip Month'] < 4]

In [7]:
green = green[green['Trip Month'] < 4]

In [8]:
new_yellow = pd.DataFrame(yellow.groupby(['Trip Month','payment_type'])['payment_type'].count())
new_yellow

                         payment_type
Trip Month payment_type
1          1                   304411
           2                   130816
           3                     2086
           4                      595
2          1                   299865
           2                   122024
           3                     2143
           4                      570
3          1                   328122
           2                   140075
           3                     2517
           4                      692

In [13]:
new_yellow['Trip Month'] = np.where(new_yellow['Trip Month']==1, 'January', np.where(new_yellow['Trip Month']==2, 'February', 'March'))

KeyError: 'Trip Month'

In [9]:
new_green = pd.DataFrame(green.groupby(['Trip Month','payment_type'])['payment_type'].count())
new_green

                         payment_type
Trip Month payment_type
1          1                   211357
           2                   182563
           3                     1977
           4                      804
           5                       27
2          1                   210581
           2                   171884
           3                     1682
           4                      737
           5                       21
3          1                   230952
           2                   184615
           3                     1997
           4                      882
           5                       15

In [10]:
new_green.to_csv('new_green.csv')
new_yellow.to_csv('new_yellow.csv')